.header {
    max-width: 1200px;
    display: flex;
    padding: 40px 20px;
    margin: 0 auto;
    justify-content: space-between ;
    align-items: center;
}

.header-menu {
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    justify-content: center;
}

.header-menu a {
    font-size: 1.125rem;
    padding: 20px;
    color: #141414;
    text-decoration: none;
    border-radius: 6px;
    display: block;
    background: #f3f3f3ec;
}

@media (max-width: 600px) {
    .header {
    flex-direction: column;
    gap: 40px;
    }

    .header a {
        background: #dddddd;
        padding: 10px;
        color: #141414;
        border-radius: 5px;

    }
}